<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dimasjose.myapplication">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/a33029343_1707139799322752_3629914592584400896_n"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".control.LoginUsuarioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".control.ConsultaActivity" />
        <activity android:name=".control.CadastroActivity" />
        <activity android:name=".control.EdicaoActivity" />
        <activity android:name=".control.InicarConsultaActivity" />
        <!-- <activity android:name=".control.CadastroActivity" /> -->
        <activity android:name=".control.GravacaoActivity" />
        <activity android:name=".control.TestePertubacaoActivity" />
        <activity android:name=".control.Contato" />
        <activity android:name=".control.Servico" />
        <activity android:name=".control.ParaQuemTrabalhamos" />
        <activity android:name=".control.SobreOAplicativo" />
        <!-- <activity android:name=".control.UsuarioLogin" /> -->
        <activity
            android:name=".control.CadastroUsuarioActivity"
            android:parentActivityName=".control.MainActivity" />
        />
        <activity android:name=".control.MainActivity" />
        <activity android:name=".control.GravacaowavActivity" />
        <activity android:name=".resultado" />
        <activity android:name=".control.ResultadoActivity" />
        <activity android:name=".control.AnaliseQuantitativaActivity"></activity>
    </application>

</manifest>